h1{
    color:white;
}

/* * {
    border:solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p.h2{
    text-align: center;
    border-style: inset;
    border-width: medium;
    border-color: #000000;
}

body{
    background-color: #9DAABD;
}

h2{
    color: #12A49D;
}